body {
    overflow-x: hidden;
}

.list-group {
    width: 460px;
    position: sticky;
    top: 30px;
}

.container-fluid {
    align-items: center;
    width: 500px;
}

.header_knob {
    align-items: center;
    width: 500px;
}

.navbar-brand {
    align-items: center;
    width: 500px;
}

.marginleft {
    margin-left : 0px;
}

.qq {
    color: #8d7caf;
}

.cards-wrapper {
    display: flex;
}

.img_group {
    margin: 15px;
}

* модальное окно авторизации/регистрации */
.close_close{
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: right;
}
.modal_header{
  padding-top: 30px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}
.titte_window{
  font-size: 40px;
  color: #041F27;
  font-weight: 400;
}
.email_div{
  margin-top: 50px;
}
.password_div{
  margin-top: 30px;
}
.password_div_2{
  margin-top: 30px;
}
input.modal_input{
  font-size: 24px;
  padding-left: 24px;
  border-radius: 10px;
  border: #D9D9D9 3px solid;
  width: 300px;
  height: 60px;
}
input.modal_input:focus{
  outline: #D9D9D9;
  /* border: #D9D9D9 3px solid; */
}
.modal_login_div{
  margin-top: 50px;
}
.log_in_modal{
  color: #fff;
  font-size: 28px;
  height: 65px;
  width: 240px;
  border: none;
  background-color: #8d7caf !important;
  border-radius: 10px;
}
/* модалка авторизованного пользователя */
.modal_header_auth{
  margin-top: 20px !important;
  padding-left: 50px;
  padding-right: 50px;
}
.email_label{
  font-size: 28px;
  font-weight: 400;
  color: #8d7caf;
}
.email{
  font-size: 26px;
  font-weight: 400;
  color: #8d7caf;
}
.linked_cards{
  font-size: 24px;
  padding-left: 35px;
  margin-top: 30px !important;
}
.card_card{
  padding-left: 30px;
  margin-top: 30px !important;
}
.card_bank{
  border-radius: 5px;
  color: #fff !important;
  font-size: 16px;
  height: 67px !important;
  width: 120px;
  background-color: #8d7caf !important;
  border: none !important;
}
.number{
  display: flex;
  justify-content: right;
  padding-right: 10px;
  padding-top: 5px;
}
.date_active{
  display: flex;
  justify-content: left;
  padding-left: 10px;
  padding-top: 5px;
}
.btn_unite{
  display: flex;
  justify-content: left;
  align-items: center;
}
.untie_it{
  color: #fff !important;
  height: 45px;
  width: 180px;
  border-radius: 10px;
  border: none;
  background-color: #8d7caf;
  font-size: 20px;
}
.modal_logout_div{
  margin-top: 50px;
  padding-bottom: 10px;
}
.log_out_modal{
  color: #fff;
  font-size: 28px;
  height: 65px;
  width: 240px;
  border: none;
  background-color: #8d7caf;
  border-radius: 10px;
}

.content {
  width: 97%;
  /* height: 400px; */
  /* background-color: aquamarine; */
}
.card{
  margin-top: 30px;
  border: none !important;
}
.image_card{
  height: 350px;
  width: 350px;
}
.title_product{
  font-size: 32px;
  font-weight: 500;
}
.price_product{
  margin-top: 10px;
  font-size: 30px;
  font-weight: 400;
}

.btn_buy_btn_favo{
  margin-top: 20px;
}
.button_buy{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: #8d7caf 2px solid;
  background-color: #fff;
  color: #888;
  height: 50px;
  width: 220px;
  font-size: 20px;
}
.basket_img{
  padding-right: 10px;
  height: 35px;
  width: 35px;
  /* margin-top: -6px; */
}
.favorites{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.favo_button{
  height: 50px;
  width: 50px;
  border: #fff 1px solid;
  border-radius: 10px;
  background-color: #fff;
}
.favo_img{
  height: 30px;
  width: 35px;
}
.description_product{
  margin-top: 10px;
  font-size: 18px;
}

.anyClass {
  height:150px;
  overflow-y: scroll;
}